<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionString>
		<add name="crawler_file" connectionString="server=568f1c4817dcd.sh.cdb.myqcloud.com;port=5579;user id=cdb_outer;password=wwj88038040;database=crawler_file;CharSet=utf-8" providerName="MySql.Data.MySqlClient" />
	</connectionString>
	<AppSettings>
		<add key="crawler_file" value="server=568f1c4817dcd.sh.cdb.myqcloud.com;port=5579;user id=cdb_outer;password=wwj88038040;database=crawler_file;CharSet=utf-8" providerName="MySql.Data.MySqlClient" />
	</AppSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>